.breadcrumb-item + .breadcrumb-item::before{
  
    content: ">>>";
}
@media all and (max-width:480px){
    .mobile{
        width:100%;
        display: block;
    }

}

.bs-color{
    background: #7a10f8;
}