.breadcrumb-item + .breadcrumb-item::before{
  
    content: ">>>";
}
@media all and (max-width:480px){
    .mobile{
        width:100%;
        display: block;
    }

}



.bgc{
    background:#7910f8c7 ;
}
.w{
    color: white;
}